@charset "UTF-8";
#menu_laterira{
	float:left;
	
	margin-left: 5px;
	margin-right: 7px;
	margin-top: 15px;
}
#painel{
	width: 70%;
	height: 20%;
	margin-bottom: 1px;
	
}
.intemPaine {
	width: 110px;
	height: 110px;
	
}
.fonte{
	font-size:13px;

	
}
.abaixo{
	background-color:red;
}
#conteudo{
	margin-top: 10px;
    position: static;
	width: 80%;
	height: 90%;
	float:right;
    margin-right: 5px;
    
}